@charset "UTF-8";
.bue {
  .flex {
    @include display-flex(center);
  }
  .pond {
    padding: 10px;
    background-color: #f2f4f8;
    margin-bottom: 10px;
  }
  .pond-name {
    color: #009aec;
    @include box-flex(1);
  }
  .param-list {
    display: block;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    // background-color: #f2f2f2;
    text-align: center;
  }
  .param-box {
    margin: 0px;
    padding: 11px 15px;
    vertical-align: top;
    border: 1px solid #eee;
    // border-right: 1px solid #eee;
    // border-bottom: 1px solid #eee;
    font-size: 16px;
    display: inline-block;
    // width: 33.33333333%;
    width: 32%;
    height: 80px;
    margin: 0.333%;
  }
  .param-name {
    font-size: 12px;
  }
  .param-value {
    font-size: 28px;
    color: #fa3c3c;
  }
  .status {
    margin: 5px;
  }
  .btn {
    margin: 10px;
    text-align: center;
    .start {
      background-color: #009aec;
      display: inline-block;
      height: 34px;
      line-height: 34px;
      color: #fff;
      width: 120px;
      font-size: 16px;
      text-align: center;
    }
  }
  .opt-list {
    padding: 0px;
    margin: 10px;
    text-align: center;
    .opt {
      display: inline-block;
      margin: 0 30px;
    }
    .opt-name {
      line-height: 48px;
      font-size: 20px;
      display: inline-block;
      width: 48px;
      border-radius: 50%;
      text-align: center;
      &.t {
        color: #ffc03c;
        border: 1px solid #ffc03c;
      }
      &.h {
        color: #82c650;
        border: 1px solid #82c650;
      }
    }
    .opt-desc {
      margin: 10px 0;
    }
  }
}
