@charset "UTF-8";
.bue {
  .flex {
    @include display-flex(center);
  }
  .pond {
    padding: 10px;
    background-color: #f2f4f8;
    // margin-bottom: 10px;
  }
  .pond-name {
    color: #009aec;
    @include box-flex(1);
  }
  .param-list {
    display: block;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    // border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    // background-color: #f2f2f2;
    text-align: center;
    margin-bottom: 20px;
  }
  .param-box {
    margin: 0px;
    padding: 11px 15px;
    vertical-align: top;
    border: 1px solid #eee;
    // border-right: 1px solid #eee;
    // border-bottom: 1px solid #eee;
    font-size: 16px;
    display: inline-block;
    // width: 33.33333333%;
    width: 32%;
    height: 80px;
    margin: 0.333%;
  }
  .param-name {
    font-size: 16px;
  }
  .param-value {
    font-size: 20px;
    color: #fa3c3c;
  }
  .param-unit {
    font-size: 14px;
    color: #333;
  }
  .status {
    margin: 5px;
    font-size: 14px;
  }
  .btn {
    margin: 22px;
    text-align: center;
    .start {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      width: 150px;
      font-size: 16px;
      text-align: center;
      padding: 0;
    }
    .blue {
      background-color: #009aec;
      color: #fff;
    }
    .gray {
      background-color: #e6e6e6;
      color: #333;
    }
  }
  .opt-list {
    padding: 0px;
    margin: 10px;
    text-align: center;
    .opt {
      display: inline-block;
      margin: 0 30px;
      border: none;
    }
    .opt-name {
      line-height: 48px;
      font-size: 20px;
      display: inline-block;
      width: 48px;
      border-radius: 50%;
      text-align: center;
      &.t {
        color: #ffc03c;
        border: 1px solid #ffc03c;
      }
      &.h {
        color: #82c650;
        border: 1px solid #82c650;
      }
    }
    .opt-desc {
      margin: 10px 0;
    }
  }
  .pond-field {
    display: inline-block;
    width: 56px;
    color: #999;
  }
  .history-tip {
    padding: 0 0 0 10px !important;
    background-color: #f69c55 !important;
    p {
      color: #fff;
    }
    .tip {
      @include box-flex(1);
    }
    .close {
      padding: 5px 5px 5px 10px;
      color: #fff;
    }
  }
  .history-pond {
    padding: 0 10px !important;
    background-color: #f2f4f8 !important;
    p {
      color: #009aec;
    }
  }
  .history-item {
    padding: 0 0 10px 0 !important;
    border: none !important;
    table {
      width: 100%;
      border-collapse: collapse;
      tbody tr:nth-child(even) {
        background-color: #ddd;
      }
    }
    .history-header {
      background-color: #3193d5;
    }
    .first-field {
      padding-left: 10px;
    }
    tr {
      height: 36px
    }
    th {
      font-weight: normal;
      color: #fff;
    }
  }
  .pond-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .pond-info {
    @include box-flex(1);
  }
  .pond-oprator {
    a {
      font-size: 1.1em!important;
    }
    .edit {
      color: #009aec;
    }
  }
}
.km-nova .km-tabstrip .km-icon {
  margin-bottom: 0px!important;
}
.km-phone .km-tabstrip .km-icon {
  margin-top: 3px;
}
