@mixin display-flex($align) {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: $align;
}

@mixin box-flex($num) {
  -webkit-box-flex: $num;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: $num;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: $num;           /* IE 10 */
  flex: $num;               /* NEW, Spec - Firefox, Chrome, Opera */
}
