@charset "UTF-8";

body {
    font: 12px Arial, Helvetica, sans-serif !important;
    // font: 12px '微软雅黑','Microsoft YaHei',NokiaPureTextLight,sans-serif !important;
    color: #666;
}
.km-nova
{
    font: normal 12px '微软雅黑','Microsoft YaHei',NokiaPureTextLight,sans-serif !important;
    /*font: normal 0.9em '微软雅黑','Microsoft YaHei',NokiaPureTextLight,sans-serif;*/
}

.km-nova .km-checkbox:checked+.km-checkbox-label:after, .km-nova .km-radio:checked+.km-radio-label:after {
    color: #3193d5 !important;
}

.km-nova .km-radio:checked+.km-radio-label:after {
    background: #3193d5;
}

.km-nova .km-radio-label:before {
    left: -10px !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.km-nova input.km-radio:checked+.km-radio-label:after {
    width: 1.0rem !important;
    height: 1.0rem !important;
    top: 55% !important;
    left: -0.5rem !important;
}

.km-events:after, .km-events:before {
    content: "\e0c1";
}

.km-barcode:after, .km-barcode:before {
    content: "\e104";
}

.param-radio .km-nova .km-radio-label {
    line-height: 1.5em!important;
    padding-left: 1.3em!important;
}

.param-radio .km-nova .km-checkbox-label, .km-nova .km-radio-label {
    font-size: 0.8em!important;
}

.param-radio .km-nova .km-checkbox-label, .km-nova .km-radio-label {
    margin-left: 0!important;
    padding-left: 1.25em !important;
}

/* .param-radio .km-nova .km-radio-label:before {
    left: -8px !important;
} */

.km-nova .km-button.km-state-active {
    background: #1D71A9 !important;
    color: white;
}
.km-nova .km-bluebtn {
  color: #fff;
  background: #3193d5;
  border-color: #3193d5;
}

// .km-nova .km-navbar, .km-nova .k-toolbar, .km-nova .km-tabstrip {
//     background-image: -ms-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
//     background-image: -moz-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
//     background-image: -o-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
//     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#52ace3),color-stop(1,#53ace1))!important;
//     background-image: -webkit-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
//     background-image: -top-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
// }

.km-nova .clearButton:active,
.km-nova .tableButton:active,
.km-nova .blueBtn:active,
.km-nova .greenBtn:active,
.km-nova .grayBtn:active,
.km-nova .toolBarButton:active {
    background: #1d71a9!important;
    color: #fff!important;
}

.km-nova .km-button.clearButton:active,
.km-nova .km-button.clearButton.km-state-active,
.km-nova .km-button.tableButton:active,
.km-nova .km-button.tableButton.km-state-active,
.km-nova .km-button.toolBarButton:active,
.km-nova .km-button.toolBarButton.km-state-active {
    background: rgba(5, 70, 121, 0.8)!important;
    color: #fff!important;
}

.clearButton, .toolBarButton {
    background: transparent!important;
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
    text-decoration: none!important;
    cursor: pointer;
}

.tableButton {
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
    text-decoration: none!important;
    cursor: pointer;
}

.km-navbar a.clearButton, .km-navbar a.toolBarButton, .km-navbar a.tableButton {
    padding-bottom: 0px;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 0px;
    font-size: 1.2em;
    height: 100%;
    line-height: 2.8em !important;
}
    .km-navbar a.clearButton .km-icon, .km-navbar a.tableButton .km-icon {
        width: auto!important;
        min-width: 0;
        display: inline-block!important;
    }

.km-navbar a.toolBarButton, .km-footer .km-navbar .clearButton, .km-modalview .km-navbar .clearButton, .km-footer .km-navbar .tableButton {
    text-decoration: underline;
}
.km-navbar {
    a[data-role=backbutton] {
        color: #fff !important;
    }
}

.km-btn-gray {
    color: #fff!important;
    background: #888e90 !important;
    border-color: #888e90 !important;
}

.km-hicon-event:after,
.km-hicon-event:before {
    content: "\e000";
}


div.actionButtonContainers {
    height: 100%;
    position: absolute;
    right: 0em;
    width: 4em;
}

div.actionButtonContainer > a {
        font-size: 1.8em;
        padding: 0px!important;
        padding-right: .5em!important;
        display: table-cell;
        line-height: 200%!important;
    }

        div.actionButtonContainer > a > span {
            background-image: none!important;
        }

            div.actionButtonContainer > a > span.km-trash {
                color: red;
            }

            div.actionButtonContainer > a > span.km-compose, div.actionButtonContainer > a > span.km-edit, .button-select .km-compose {
                color: rgb(123, 123, 123);
            }

        div.actionButtonContainer > a > span {
            width: 3em!important;
        }

#popup_container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
    background: #fff;
    border: solid 5px #52ace3;
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#popup_title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.75em;
    color: #fff;
    background: #52ace3;

    border-bottom: solid 1px #52ace3;
    cursor: default;
    padding: 0em;
    margin: 0em;
}

#popup_message {
    padding-left: 10px;
    padding-top: 10px;
}

#popup_panel {
    text-align: center;
    margin: 1em 0em 0em 1em;
}

#popup_prompt {
    margin: .5em 0em;
}

// .km-nova .km-list>li {
//     padding: .5em .7em !important;
// }

.form-input {
    margin-left: .7em !important;
    left: 0 !important;
}

.form-right-button {
    right: 0 !important;
    float: right !important;
    padding: .3em .7em !important;
}

.sm-li {
    padding: .2em .7em !important;
}

.km-icon:after {
    // color: #3193d5 !important;
}

.hi-li-font {
    font: 12px Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
}

.alert-info {
    padding: 5px;
    // margin-bottom: 10px;
    border: 1px solid transparent;
    // border-radius: 4px;

    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.km-check:before, .km-check:after
{
    content: "\e037";
}
