@charset "UTF-8";
body {
  font: 12px Arial, Helvetica, sans-serif !important;
  // font: 12px '微软雅黑','Microsoft YaHei',NokiaPureTextLight,sans-serif !important;
  color: #666;
}

.km-nova {
  font: normal 12px '微软雅黑', 'Microsoft YaHei', NokiaPureTextLight, sans-serif !important;
  /*font: normal 0.9em '微软雅黑','Microsoft YaHei',NokiaPureTextLight,sans-serif;*/
}

.km-nova .km-checkbox:checked+.km-checkbox-label:after,
.km-nova .km-radio:checked+.km-radio-label:after {
  color: #3193d5 !important;
}

.km-nova .km-radio:checked+.km-radio-label:after {
  background: #3193d5;
}

.km-nova .km-radio-label:before {
  left: -10px !important;
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.km-nova input.km-radio:checked+.km-radio-label:after {
  width: 1.0rem !important;
  height: 1.0rem !important;
  top: 55% !important;
  left: -0.5rem !important;
}

.km-events:after,
.km-events:before {
  content: "\e0c1";
}

.km-barcode:after,
.km-barcode:before {
  content: "\e104";
}

.param-radio .km-nova .km-radio-label {
  line-height: 1.5em!important;
  padding-left: 1.3em!important;
}

.param-radio .km-nova .km-checkbox-label,
.km-nova .km-radio-label {
  font-size: 0.8em!important;
}

.param-radio .km-nova .km-checkbox-label,
.km-nova .km-radio-label {
  margin-left: 0!important;
  padding-left: 1.25em !important;
}


/* .param-radio .km-nova .km-radio-label:before {
    left: -8px !important;
} */

// .km-nova .km-button.km-state-active {
//   background: #1D71A9 !important;
//   color: white;
// }
.km-nova .km-bluebtn {
  color: #fff;
  background: #3193d5;
  border-color: #3193d5;
}

// .km-nova .km-navbar, .km-nova .k-toolbar, .km-nova .km-tabstrip {
//     background-image: -ms-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
//     background-image: -moz-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
//     background-image: -o-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
//     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#52ace3),color-stop(1,#53ace1))!important;
//     background-image: -webkit-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
//     background-image: -top-linear-gradient(top,#52ace3 0,#53ace1 100%)!important;
// }
.km-nova .clearButton:active,
.km-nova .tableButton:active,
.km-nova .blueBtn:active,
.km-nova .greenBtn:active,
.km-nova .grayBtn:active,
.km-nova .toolBarButton:active {
  background: #1d71a9!important;
  color: #fff!important;
}

.km-nova .km-button.clearButton:active,
.km-nova .km-button.clearButton.km-state-active,
.km-nova .km-button.tableButton:active,
.km-nova .km-button.tableButton.km-state-active,
.km-nova .km-button.toolBarButton:active,
.km-nova .km-button.toolBarButton.km-state-active {
  background: rgba(5, 70, 121, 0.8)!important;
  color: #fff!important;
}

.clearButton,
.toolBarButton {
  background: transparent!important;
  border: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  text-shadow: none!important;
  text-decoration: none!important;
  cursor: pointer;
}

.tableButton {
  border: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  text-shadow: none!important;
  text-decoration: none!important;
  cursor: pointer;
}

.km-navbar a.clearButton,
.km-navbar a.toolBarButton,
.km-navbar a.tableButton {
  padding-bottom: 0px;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 0px;
  font-size: 1.2em;
  height: 100%;
  line-height: 2.8em !important;
}

.km-navbar a.clearButton .km-icon,
.km-navbar a.tableButton .km-icon {
  width: auto!important;
  min-width: 0;
  display: inline-block!important;
}

.km-navbar a.toolBarButton,
.km-footer .km-navbar .clearButton,
.km-modalview .km-navbar .clearButton,
.km-footer .km-navbar .tableButton {
  text-decoration: underline;
}

.km-navbar {
  a[data-role=backbutton] {
    color: #fff !important;
  }
}

.km-btn-gray {
  color: #fff!important;
  background: #888e90 !important;
  border-color: #888e90 !important;
}

.km-hicon-event:after,
.km-hicon-event:before {
  content: "\e000";
}

div.actionButtonContainers {
  height: 100%;
  position: absolute;
  right: 0em;
  width: 4em;
}

div.actionButtonContainer > a {
  font-size: 1.8em;
  padding: 0px!important;
  padding-right: .5em!important;
  display: table-cell;
  line-height: 200%!important;
}

div.actionButtonContainer > a > span {
  background-image: none!important;
}

div.actionButtonContainer > a > span.km-trash {
  color: red;
}

div.actionButtonContainer > a > span.km-compose,
div.actionButtonContainer > a > span.km-edit,
.button-select .km-compose {
  color: rgb(123, 123, 123);
}

div.actionButtonContainer > a > span {
  width: 3em!important;
}

#popup_container {
  font-family: Arial, sans-serif;
  font-size: 12px;
  min-width: 300px;
  /* Dialog will be no smaller than this */
  max-width: 600px;
  /* Dialog will wrap after this width */
  background: #fff;
  border: solid 5px #52ace3;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#popup_title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.75em;
  color: #fff;
  background: #52ace3;
  border-bottom: solid 1px #52ace3;
  cursor: default;
  padding: 0em;
  margin: 0em;
}

#popup_message {
  padding-left: 10px;
  padding-top: 10px;
}

#popup_panel {
  text-align: center;
  margin: 1em 0em 0em 1em;
}

#popup_prompt {
  margin: .5em 0em;
}

// .km-nova .km-list>li {
//     padding: .5em .7em !important;
// }
.form-input {
  // margin-left: .7em !important;
  left: 0 !important;
}

.form-right-button {
  right: 0 !important;
  float: right !important;
  padding: .3em .7em !important;
}

.sm-li {
  padding: .2em .7em !important;
}

.km-icon:after {
  // color: #3193d5 !important;
}

.alert-info {
  padding: 5px;
  // margin-bottom: 10px;
  border: 1px solid transparent;
  // border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.km-check:before,
.km-check:after {
  content: "\e037";
}

.km-curve:before,
.km-curve:after {
  content: "\e050";
}

.km-unlock:before,
.km-unlock:after {
  content: "\e100";
}


/* new ui css */

.km-nova .km-navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #328AC5), color-stop(1, #328AC5));
}

.list-wrapper {
  margin: 10px;
  li {
    background: #fff!important;
    color: #378BC2!important;
    margin-bottom: 3px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    border-width: 0!important;
    .left {
      flex: 1;
    }
    .right {
      position: relative;
      width: 24px;
    }
    .trash {
      top: 20px;
    }
  }
}
.trash {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  &:before {
    content: "";
    display: block;
    position: relative;
    background: url(../content/img/icon/icon_delete.png) -0px -0px no-repeat;
    width: 24px;
    height: 24px;
  }
}
.camera {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0!important;
  border: none!important;
  background:transparent!important;
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: url(../content/img/icon/icon_camera.png) -0px -0px no-repeat;
    width: 40px;
    height: 40px;
  }
}
.unlock {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  &:before {
    content: "";
    display: block;
    position: relative;
    background: url(../content/img/icon/icon_unlock.png) -0px -0px no-repeat;
    width: 24px;
    height: 24px;
  }
}

.form-wrapper {
  padding: 14px;
}

#register {
  .km-content {
    background-color: #F0F7F7;
  }
}

#main {
  .km-content {
    background-color: #F0F7F7;
  }
  .button-group {
    margin: 0 3px;
  }
  .km-header {
    background: #C9CACA;
  }
  #tabButtonGroup {
    .km-button {
      border-width: 0;
      height: 70px;
      // width: 21%;
      border-radius: 0;
      background: #C9CACA;
      color: #fff;
      // font-size: 15px;
      border-bottom: 1px solid #EAEDF0;
      border-right: 1px solid #585455;
      &:last-child {
        border-right: none;
      }
    }
    .km-state-active {
      color: #1D71A9;
      background: #F0F4F7;
    }
  }
  .fisher {
    height: 100px;
    background: #fff;
    padding: 15px 20px;
    border: none;
    .fisher-name {
      color: #DB6803;
    }
    .fisher-address {
      color: #358ac6;
    }
    .fisher-line {
      color: #9fa0a0;
    }
    .edit {
      background: url(../content/img/icon/icon_edit.png) -0px -0px no-repeat;
      height: 26px;
      width: 26px;
      overflow: hidden;
      border: none;
      top: 22px;
    }
  }
  .fishery_img {
    background: url(../content/img/icon/icon_address.png) -0px -0px no-repeat;
    height: 67px;
    width: 50px;
    overflow: hidden;
  }
  .pond-list {
    margin: 40px 20px;
    .hi-li-font {
      border-style: none;
      background: #fff;
      margin-bottom: 10px;
      -moz-box-shadow: 1px 3px 6px #ccc;
      -webkit-box-shadow: 1px 3px 6px #ccc;
      box-shadow: 1px 3px 6px #ccc;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      span {
        color: #9fa0a0;
      }
      .left {
        flex: 1;
      }
      .right {
        width: 24px;
        position: relative;
      }
      .trash {
        &:before {
          top: 0;
        }
      }
      .unlock {
        top: 70px;
      }
    }
    .pool_img {
      background: url(../content/img/icon/icon_pond.png) -0px -0px no-repeat;
      height: 80px;
      width: 80px;
      overflow: hidden;
    }
  }
  .btn-hicon {
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    padding: 0px;
    font-size: 20px;
    margin-top: 20px;
    display: block;
    width: 100%;
    color: #fff;
    background: #3193d5;
    border-color: #3193d5;
    text-align: center;
  }
  .param-list {
    margin: 10px;
    li {
      border-style: none;
    }
    .param-item {
      border: 1px solid #DCDBDB;
      border-radius: 4px;
      background: #efefef;
      padding: 10px;
      margin-bottom: 10px;
      clear: both;
    }
    .param-container {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
    }
    .param-img {
      float: left;
      margin-right: 10px;
      &.param_do {
        background: url(../content/img/icon/o2.png) 0px 45px no-repeat;
        height: 140px;
        width: 90px;
        overflow: hidden;
      }
      &.param_wt {
        background: url(../content/img/icon/sw.png) 0px 45px no-repeat;
        height: 140px;
        width: 90px;
        overflow: hidden;
      }
      &.param_ph {
        background: url(../content/img/icon/ph.png) 0px 45px no-repeat;
        height: 140px;
        width: 90px;
        overflow: hidden;
      }
      &.param_sat {
        background: url(../content/img/icon/bh.png) 0px 45px no-repeat;
        height: 140px;
        width: 90px;
        overflow: hidden;
      }
    }
    .param-content {
      flex: 1;
    }
    .param-line {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
    }
    .param-line-name {
      width: 80px;
      font-size: 28px;
      color: #727171;
      line-height: 73px;
      text-align: right;
    }
    .param-default-value {
      color: #727171;
      font-size: 12px;
      text-align: right;
    }
    .param-real-value {
      color: #358ac6;
      font-size: 28px;
      font-weight: bold;
      text-align: right;
    }
    .warning-icon {
      &.green {
        background: url(../content/img/icon/icon_warning_green.png) 0px 0px no-repeat;
        height: 34px;
        width: 34px;
        overflow: hidden;
        display: inline-block;
        background-size: cover;
      }
      &.red {
        background: url(../content/img/icon/icon_warning_red.png) 0px 0px no-repeat;
        height: 34px;
        width: 34px;
        overflow: hidden;
        display: inline-block;
        background-size: cover;
      }
    }
    .param-num {}
    .param-real-date {
      color: #727171;
      font-size: 12px;
      text-align: right;
    }
    .param-line-value {
      -webkit-box-flex: 1;
      flex: 1;
    }
    .param-btns {
      text-align: center;
      display: -webkit-box;
      display: flex;
      display: -ms-flex;
      display: -webkit-flex;
      a {
        margin-right: 10px;
        box-shadow: 1px 3px 6px #ccc !important;
        flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        -webkit-box-flex: 1;
      }
    }
  }
}

.reg-phone {
  display: -webkit-box!important;
  display: flex!important;
  -webkit-box-align: center!important;
  align-items: center;
  input {
    -webkit-box-flex: 1!important;
    flex: 1!important;
    position:relative!important;
  }
}

.input-row {
  text-align: center;
  margin-bottom: 15px;
  input,
  select {
    width: 100%;
    height: 45px;
    font-size: 14px;
    padding: 10px;
    border: none;
  }
  #btnLogin {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    padding: 0px;
    font-size: 20px;
  }
  .send-code {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid #3193d5;
    background: #3193d5;
    color: #fff;
    padding: 0 5px;
    border-radius: 0;
  }
  .btn-hicon {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    padding: 0px;
    font-size: 20px;
    background: #3193d5;
    border-color: #3193d5;
    color: #fff;
  }
}
.shadow {
  -moz-box-shadow: 1px 3px 6px #ccc;
  -webkit-box-shadow: 1px 3px 6px #ccc;
  box-shadow: 1px 3px 6px #ccc;
}

.controller-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    display: inline-block;
    width: 50%;
    float: left;
    height: 100px;
    margin-bottom: 10px;
  }
  .controller-content {
    height: 100%;
    margin: 10px 5px;
    background: #fff;
    padding: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    .img-status {
      flex: 1;
      &.warn_red_img {
        background: url(../content/img/icon/icon_warning_red.png) 0px 0px no-repeat;
        height: 32px;
        width: 32px;
        margin-top: 23px;
      }
      &.warn_green_img {
        background: url(../content/img/icon/icon_warning_green.png) 0px 0px no-repeat;
        height: 32px;
        width: 32px;
        margin-top: 23px;
      }
      &.warn_gray_img {
        background: url(../content/img/icon/icon_warning_gray.png) 0px 0px no-repeat;
        height: 32px;
        width: 32px;
        margin-top: 23px;
      }
    }
    .name {
      flex: 1;
      height: 80px;
      line-height: 80px;
      color: #358ac6;
      font-size: 30px;
    }
  }
  li.disabled {
    .name {
      color: #ccc;
    }
  }
}

.controller-bottom {
  // position: fixed;
  // bottom: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 0 20px;
  a {
    font-size: 20px;
    border-radius: 0!important;
  }
}

#controller .km-content,
#timerAdd .km-content,
#timer .km-content,
#dtuList .km-content,
#basic .km-content,
#controllerEdit .km-content,
#modifyPwd .km-content,
#log .km-content
{
  background: #F0F4F7;
}

.controller-header {
  text-align: center;
  height: 2.5em;
  line-height: 2.5em;
  background: #898989;
  color: #fff;
  font-size: 1.25em;
}

.controller-body {
  margin: 5px 10px 0 10px;
  .controller-status {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 20px;
    color: #9fa0a0;
    text-align: center;
  }
  .status-left {
    width: 3.5em;
    margin-right: 0.1875em;
    background: #fff;
  }
  .status-right {
    flex: 1;
    background: #fff;
  }
  .status-icon {
    &.running {
      position: relative;
      color: #9ECF93;
      &:before {
        content: url(../content/img/icon/icon_warning_green.png);
        display: block;
        position: absolute;
        top: -3px;
        left: -38px;
        width: 35px;
        height: 35px;
      }
    }
    &.stop {
      position: relative;
      color: #E83E50;
      &:before {
        content: url(../content/img/icon/icon_warning_red.png);
        display: block;
        position: absolute;
        top: -3px;
        left: -38px;
        width: 35px;
        height: 35px;
      }
    }
  }
  .controller-start,
  .controller-timing {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 20px;
    text-align: center;
    color: #9fa0a0;
    margin-top: 5px;
    background: #fff;
  }
  .controller-timing {
    margin-top: 15px;
  }
  .start-left {
    flex: 1;
    border-radius: 0;
    border: none;
  }
  .start-right {
    flex: 1;
    border-radius: 0;
    border: none;
    &.km-state-active {
      color: #666 !important;
    }
  }
  .active {
    background-color: #328AC5;
    color: #fff;
    &.km-state-active {
      background: #1d71a9 !important;
    }
  }
  .controller-run {
    height: 2.5em;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    background: #fff;
    border-radius: 0;
    border: none;
    color: #358ac6;
    width: 100%;
    -moz-box-shadow: -1px 1px 11px #ccc, 2px 2px 5px #ccc;
    -webkit-box-shadow: -1px 1px 11px #ccc, 2px 2px 5px #ccc;
    box-shadow: -1px 1px 11px #ccc, 2px 2px 5px #ccc;
  }
  .controller-btns {
    margin-top: 10px;
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    margin: 0 30px;
    .btn-left {
      flex: 1;
      text-align: left;
    }
    .btn-right {
      flex: 1;
      text-align: right;
    }
    a {
      margin: 10px 0;
      border-radius: 0;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
      -moz-box-shadow: 2px 2px 5px #333!important;
      -webkit-box-shadow: 2px 2px 5px #333!important;
      box-shadow: 2px 2px 5px #333!important;
    }
  }
  .controller-footer {
    text-align: center;
    margin: 0 30px;
    a {
      margin: 10px 0;
      border-radius: 0;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

.search-day {
  text-align: center;
  padding-top: 10px;
  height: 50px;
  background: #fff;
  div {
    width: 39%;
    &:first-child {
      width: 30%;
    }
    &:last-child {
      width: 30%;
    }
    float: left;
    input {
      width: 100%;height: 30px;
    }
  }
}
