@charset "UTF-8";
#login {
  background-image: url(../content/img/lg.png);
  background-size: cover;
  .action-buttons {
    text-align: center;
    a {
      margin-top: 25px;
      width: 60%;
    }
  }
  .rember {
    text-align: left;
    vertical-align: left;
  }
  .rember-label {
    display: inline!important;
    margin-right: 15px;
    font-size: 1.2em !important;
    line-height: 1.5em !important;
    padding-left: 1.5em !important;
    margin-left: 0 !important;
    ;
  }
  .retrieve {
    margin: 15px;
    float: right;
    a {
      text-decoration: underline !important;
      color: #000;
    }
  }




  .banner {
    padding: 10px 10px;
  }
  .logo {
    background: url(../content/img/icon/logo.png) no-repeat;
    width: 101px;
    height: 101px;
    margin: 0 auto;
  }
  .btn-register {
    border:none;
  }
}
.km-content {
  background-color: rgba(0, 0, 0, 0)!important;
}
