@charset "UTF-8";
#login {
  background-image: url(../content/img/lg.png);
  background-size: cover;
  .km-content {
    background-color: rgba(0, 0, 0, 0)!important;
  }
  .reg-row {
    text-align: right;
    margin-bottom: 10px;
    div {
      // width: 340px;
      margin: 0 auto;
    }
    a {
      background: transparent;
      font-size: 32px;
      color: #3285C0;
      padding: 0;
    }
  }
  .member-row {
    input[type=checkbox] {
      -webkit-appearance: none;
      appearance: none;
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin: 0;
      cursor: pointer;
      vertical-align: middle;
      border: none;
      border: none\9;
      position: relative;
      text-align: center;
    }
    input[type=checkbox]:checked::after {
      content: url(../content/img/icon/icon_check_checked.png);
    }
    input[type=checkbox]::after {
      content: url(../content/img/icon/icon_check_empty.png);
    }
    div {
      // width: 340px;
      margin: 0 auto;
      position: relative;
    }
    .btn-forget {
      position: absolute;
      right: 0;
      background: transparent;
      font-size: 18px;
      color: #3285C0;
      padding: 0;
      border: none;
    }
    label {
      font-size: 18px;
      color: #3285C0;
    }
  }
  .mb10 {
    margin-bottom: 10px!important;
  }
  .action-buttons {
    text-align: center;
    a {
      margin-top: 25px;
      width: 60%;
    }
  }
  .rember {
    text-align: left;
    vertical-align: left;
  }
  .rember-label {
    display: inline!important;
    margin-right: 15px;
    font-size: 1.2em !important;
    line-height: 1.5em !important;
    padding-left: 1.5em !important;
    margin-left: 0 !important;
    ;
  }
  .retrieve {
    margin: 15px;
    float: right;
    a {
      text-decoration: underline !important;
      color: #000;
    }
  }
  .banner {
    padding: 10px 10px;
    margin-top: 15px;
  }
  .logo {
    background: url(../content/img/icon/logo.png) no-repeat;
    width: 101px;
    height: 101px;
    margin: 0 auto;
  }
  .btn-register {
    border: none;
  }
  // .input-row {
  //   input,
  //   select {
  //     width: 340px;
  //   }
  // }
}
