<div id="basic" data-role="view" data-use-native-scrolling="true" data-init="hicon.basic.init" data-after-show="hicon.basic.aftershow" data-show="hicon.basic.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="left" data-role="button" class="clearButton" data-click="hicon.basic.events.doBack">返回</a>
      <span data-role="view-title">渔场资料</span>
    </div>
  </header>
  <div class="form-wrapper">
    <div class="input-row">
      <div>
        <input type="text" value="" placeholder="渔场名称" data-ko="value: basic().Name" />
      </div>
    </div>
    <div class="input-row">
      <div>
        <input type="text" value="" placeholder="负责人" data-ko="value: basic().Head" />
      </div>
    </div>
    <div class="input-row">
      <div>
        <select type="text" id="ddlProvince" ddata-ko="event: { change: hicon.basic.events.provinceChange }">
        </select>
      </div>
    </div>
    <div class="input-row">
      <div>
        <select type="text" id="ddlCity" ddata-ko="event: { change: hicon.basic.events.cityChange }">
        </select>
      </div>
    </div>
    <div class="input-row">
      <div>
        <select type="text" id="ddlCounty">
        </select>
      </div>
    </div>
    <div class="input-row">
      <div>
        <input type="text" value="" placeholder="渔场所在地址" data-ko="value: basic().Address" />
      </div>
    </div>
    <div class="input-row">
      <div>
        <a data-role="button" data-click="hicon.basic.events.getCurrentPosition" class="btn-hicon">
          <span class="km-text">修改当前经纬度</span>
        </a>
      </div>
    </div>
    <div class="input-row">
      <div>
        <input type="text" id="txtBscLongitude" placeholder="经度" data-ko="value: basic().Longitude" />
      </div>
    </div>
    <div class="input-row">
      <div>
        <input type="text" id="txtBscLatitude" placeholder="纬度" data-ko="value: basic().Latitude" />
      </div>
    </div>
    <!--
    <div class="input-row">
      <div>
        <input type="text" id="txtBscAltitude" placeholder="海拔" data-ko="value: basic().Altitude"/>
      </div>
    </div>
    -->
    <div class="input-row">
      <div>
        <a data-role="button" data-click="hicon.basic.events.save" class="btn-hicon">
          <span class="km-text">保存</span>
        </a>
      </div>
    </div>
  </div>
</div>
