<div id="buehistory" data-role="view" data-use-native-scrolling="true" data-init="hicon.bueHistory.init" data-after-show="hicon.bueHistory.aftershow" data-show="hicon.bueSacn.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="left" data-role="button" class="clearButton" data-click="hicon.bueHistory.events.doBack">返回</a>
      <span data-role="view-title">历史数据</span>
    </div>
  </header>
  <ul data-role="listview" data-click="hicon.bueHistory.events.itemClick" class="bue">
    <li class="history-tip flex" id="history-tip">
      <p class="tip">
        点击参数名称可查看曲线图
      </p>
      <div class="close" data-command-key="close">x</div>
    </li>
    <li class="history-pond">
      <p>
        <span>当前池: </span>
        <span style="margin-right: 10px;">xxx</span>
        <span>盐度: </span>
        <span>50</span>
      </p>
      <p>

      </p>
    </li>
    <li class="history-item">
      <table>
        <thead class="history-header">
          <tr>
            <th class="first-field">日期</th>
            <th>时间</th>
            <th data-command-key="oxygen">溶氧</th>
            <th data-command-key="temp">水温</th>
            <th data-command-key="ph">pH</th>
            <th data-command-key="saturation">饱和度</th>
            <th data-command-key="pressure">气压</th>
          </tr>
        </thead>
        <tr>
          <td class="first-field">12-03</td>
          <td>17:55</td>
          <td>6.66</td>
          <td>33</td>
          <td>3.2</td>
          <td>66</td>
          <td>133</td>
        </tr>
        <tr>
          <td class="first-field">12-03</td>
          <td>17:55</td>
          <td>6.66</td>
          <td>33</td>
          <td>3.2</td>
          <td>66</td>
          <td>133</td>
        </tr>
        <tr>
          <td class="first-field">12-03</td>
          <td>17:55</td>
          <td>6.66</td>
          <td>33</td>
          <td>3.2</td>
          <td>66</td>
          <td>133</td>
        </tr>
        <tr>
          <td class="first-field">12-03</td>
          <td>17:55</td>
          <td>6.66</td>
          <td>33</td>
          <td>3.2</td>
          <td>66</td>
          <td>133</td>
        </tr>
        <tr>
          <td class="first-field">12-03</td>
          <td>17:55</td>
          <td>6.66</td>
          <td>33</td>
          <td>3.2</td>
          <td>66</td>
          <td>133</td>
        </tr>
        <tr>
          <td class="first-field">12-03</td>
          <td>17:55</td>
          <td>6.66</td>
          <td>33</td>
          <td>3.2</td>
          <td>66</td>
          <td>133</td>
        </tr>
      </table>
    </li>
  </ul>
</div>
