<div id="buehistory" data-role="view" data-use-native-scrolling="true" data-init="hicon.bueHistory.init" data-after-show="hicon.bueHistory.aftershow" data-show="hicon.bueHistory.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="left" data-role="button" class="clearButton" data-click="hicon.bueHistory.events.doBack">返回</a>
      <span data-role="view-title">历史数据</span>
    </div>
  </header>
  <ul data-role="listview" data-click="hicon.bueHistory.events.itemClick" class="bue">
    <li class="history-tip flex" id="history-tip">
      <p class="tip">
        点击参数名称可查看曲线图
      </p>
      <div class="close" data-command-key="close">x</div>
    </li>
    <li class="flex pond">
      <div class="pond-name">
        <span>当前池: </span>
        <span style="margin-right: 10px;" data-ko="text: $data.currentPond().name">xxx</span>
        <span>盐度: </span>
        <span data-ko="text: $data.currentPond().salt"></span>
      </div>
      <div data-command-key="select">
        选择其他池塘
      </div>
    </li>
    <li class="history-item">
      <table>
        <thead class="history-header">
          <tr>
            <th class="first-field">日期</th>
            <th>时间</th>
            <th data-command-key="oxygen">溶氧</th>
            <th data-command-key="water">水温</th>
            <th data-command-key="ph">pH</th>
            <th data-command-key="saturation">饱和度</th>
            <th data-command-key="hpa">气压</th>
          </tr>
        </thead>
        <tbody data-ko="foreach: $data.list()">
          <tr>
            <td class="first-field" data-ko="text: $data.day"></td>
            <td data-ko="text: $data.time"></td>
            <td data-ko="text: $data.oxygen"></td>
            <td data-ko="text: $data.water"></td>
            <td data-ko="text: $data.ph"></td>
            <td data-ko="text: $data.saturation"></td>
            <td data-ko="text: $data.hpa"></td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>
