<div id="buemain" data-role="view" data-use-native-scrolling="true" data-init="hicon.bueMain.init" data-after-show="hicon.bueMain.aftershow" data-show="hicon.bueMain.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="right" data-role="button" class="clearButton" data-click="hicon.bueMain.events.logout">退出</a>
      <span data-role="view-title">数据检测</span>
    </div>
  </header>
  <div data-role="listview" data-view="view" class="bue">
    <ul data-role="listview" data-click="hicon.bueMain.events.itemClick">
      <li class="flex pond">
        <div class="pond-name" data-ko="text: '当前池：' + ($data.currentPond().name || ($data.currentPond().code + '号池'))">
        </div>
        <div data-command-key="select">
          选择其他池塘
        </div>
      </li>
    </ul>
    <ul class="param-list">
      <li class="param-box">
        <div class="param-name">
          溶氧
        </div>
        <div class="param-value">
          <span data-ko="text: ($data.ox() === '' ? '--' : $data.ox())"></span>
          <span class="param-unit" data-ko="text: ($data.ox() == '' ? '' : 'mg/L')"></span>
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          水温
        </div>
        <div class="param-value">
          <span data-ko="text: ($data.water() === '' ? '--' : $data.water())"></span>
          <span class="param-unit" data-ko="text: ($data.water() == '' ? '' : '℃')"></span>
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          pH
        </div>
        <div class="param-value">
          <span data-ko="text: ($data.ph() === '' ? '--' : $data.ph())"></span>
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          盐度
        </div>
        <div class="param-value">
          <span data-ko="text: ($data.checkingData().salt === '' ? '--' : $data.checkingData().salt)"></span>
          <span class="param-unit" data-ko="text: ($data.checkingData().salt == '' ? '' : '‰')"></span>
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          气压
        </div>
        <div class="param-value">
          <span data-ko="text: ($data.checkingData().hpa === '' ? '--' : $data.checkingData().hpa)"></span>
          <span class="param-unit" data-ko="text: ($data.checkingData().hpa == '' ? '' : 'hpa')"></span>
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          饱和度
        </div>
        <div class="param-value">
          <span data-ko="text: ($data.sat() === '' ? '--' : $data.sat())"></span>
          <span class="param-unit" data-ko="text: ($data.sat() === '' ? '' : '%')"></span>
        </div>
      </li>
    </ul>
    <div class="status">
      <span>网络状态：</span>
      <!-- ko if: netWorkOnline() == true-->
      <span class="limegreen">在线</span>
      <!-- /ko -->
      <!-- ko if: netWorkOnline() == false-->
       <span class="red">离线</span>
      <!-- /ko -->
      <span>手机蓝牙：</span>
      <!-- ko if: bueOnline() == true-->
      <span class="limegreen">已开启</span>
      <!-- /ko -->
      <!-- ko if: bueOnline() == false-->
       <span class="red">未开启</span>
      <!-- /ko -->
    </div>
    <div class="status">
      <span>设备蓝牙：</span>
      <!-- ko if: deviceOnline() == true-->
      <span class="limegreen">在线</span>
      <!-- /ko -->
      <!-- ko if: deviceOnline() == false-->
       <span class="red">离线</span>
      <!-- /ko -->
      <span>溶氧传感器：</span>
      <!-- ko if: oxDeviceOnline() == true-->
      <span class="limegreen">在线</span>
      <!-- /ko -->
      <!-- ko if: oxDeviceOnline() == false-->
       <span class="red">离线</span>
      <!-- /ko -->
      <span>pH传感器：</span>
      <!-- ko if: pHDeviceOnline() == true-->
      <span class="limegreen">在线</span>
      <!-- /ko -->
      <!-- ko if: pHDeviceOnline() == false-->
       <span class="red">离线</span>
      <!-- /ko -->
    </div>
    <ul class="btn" data-role="listview" data-click="hicon.bueMain.events.itemClick">
      <li class="start" data-ko="css: { 'blue':  $data.isMonitoring() == false, 'gray':  $data.isMonitoring() == true }" data-command-key="monitorOx" id="btnOxMonitor">开始测溶氧</li>
      <li class="start" data-ko="css: { 'blue':  $data.isMonitoring() == false, 'gray':  $data.isMonitoring() == true }" data-command-key="monitorPh" id="btnPhMonitor">开始测pH</li>
    </ul>

    <!-- ko if: powerAlert() == true-->
    <div class="power-warning">
      <span>请更换手持设备电池</span>
      <span>当前手持设备无法正常工作</span>
    </div>
    <!-- /ko -->
  </div>
  <div data-role="footer">
    <ul  data-role="listview" class="km-widget km-tabstrip" data-click="hicon.bueMain.events.itemClick">
      <li data-command-key="main" class="km-button km-state-active" data-icon="home">
        <span class="km-text">首页</span>
      </li>
      <li data-command-key="pond" class="km-button" data-icon="organize">
        <span class="km-text">池塘</span>
      </li>
      <li data-command-key="history" class="km-button" data-icon="curve">
        <span class="km-text">数据</span>
      </li>
    </ul>
  </div>
</div>
