<div id="buemain" data-role="view" data-use-native-scrolling="true" data-init="hicon.bueMain.init" data-after-show="hicon.bueMain.aftershow" data-show="hicon.bueMain.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <span data-role="view-title">主页面</span>
      <a data-align="right" data-role="button" class="clearButton"></a>
    </div>
  </header>
  <div data-role="listview" data-view="view" class="bue">
    <ul data-role="listview" data-click="hicon.bueMain.events.itemClick">
      <li class="flex pond">
        <div class="pond-name" data-ko="text: '当前池：' + $data.currentPond().name">
        </div>
        <div data-command-key="select">
          选择其他池塘
        </div>
      </li>
    </ul>
    <ul class="param-list">
      <li class="param-box">
        <div class="param-name">
          溶氧
        </div>
        <div class="param-value">
          12
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          水温
        </div>
        <div class="param-value">
          12
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          PH
        </div>
        <div class="param-value">
          12
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          盐度
        </div>
        <div class="param-value">
          12
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          气压
        </div>
        <div class="param-value">
          12
        </div>
      </li>
      <li class="param-box">
        <div class="param-name">
          饱和度
        </div>
        <div class="param-value">
          12
        </div>
      </li>
    </ul>
    <div class="status">
      <span>网络状态：</span>
      <!-- ko if: netWorkOnline() == true-->
      <span class="limegreen">在线</span>
      <!-- /ko -->
      <!-- ko if: netWorkOnline() == false-->
       <span class="red">离线</span>
      <!-- /ko -->
      <span>蓝牙状态：</span>
      <!-- ko if: bueOnline() == true-->
      <span class="limegreen">在线</span>
      <!-- /ko -->
      <!-- ko if: bueOnline() == false-->
       <span class="red">离线</span>
      <!-- /ko -->
      <span>溶氧传感器状态：</span>
      <!-- ko if: deviceOnline() == true-->
      <span class="limegreen">在线</span>
      <!-- /ko -->
      <!-- ko if: deviceOnline() == false-->
       <span class="red">离线</span>
      <!-- /ko -->
    </div>
    <ul class="btn" data-role="listview" data-click="hicon.bueMain.events.itemClick">
      <li class="start" data-command-key="monitor" id="btnMonitor">开始测水</li>
    </ul>
    <ul class="opt-list" data-role="listview" data-click="hicon.bueMain.events.itemClick">
      <li class="opt" data-command-key="pond">
        <div class="opt-name t">
          塘
        </div>
        <div class="opt-desc">
          池塘管理
        </div>
      </li>
      <li class="opt" data-command-key="history">
        <div class="opt-name h">
          史
        </div>
        <div class="opt-desc">
          历史数据
        </div>
      </li>
    </ul>
  </div>
</div>
