<div id="buemain" data-role="view" data-use-native-scrolling="true" data-init="hicon.bueMain.init" data-after-show="hicon.bueMain.aftershow" data-show="hicon.bueMain.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <span data-role="view-title">主页面</span>
      <a data-align="right" data-role="button" class="clearButton"></a>
    </div>
  </header>
  <div data-role="listview" data-view="view">
    <ul class="four-col-special">
      <li class="enabled">
        <div class="device-box">
          <span style="color: #000;">xxx</span>
        </div>
        <div class="img-status warn_green_img" style="display:inline-block;"></div>
      </li>
      <li class="enabled">
        <div class="device-box">
          <span style="color: #000;">xxx</span>
        </div>
        <div class="img-status warn_green_img" style="display:inline-block;"></div>
      </li>
      <li class="enabled">
        <div class="device-box">
          <span style="color: #000;">xxx</span>
        </div>
        <div class="img-status warn_green_img" style="display:inline-block;"></div>
      </li>
      <li class="enabled">
        <div class="device-box">
          <span style="color: #000;">xxx</span>
        </div>
        <div class="img-status warn_green_img" style="display:inline-block;"></div>
      </li>
    </ul>
  </div>
</div>
