<div id="controller" data-role="view" data-use-native-scrolling="true" data-init="hicon.controller.init" data-after-show="hicon.controller.aftershow" data-show="hicon.controller.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="left" data-role="button" class="clearButton" data-click="hicon.controller.events.doBack">返回</a>
      <span data-role="view-title">&nbsp;</span>
    </div>
  </header>
  <div data-role="listview" class="controller-view" data-click="hicon.controller.events.deviceClick">
    <div data-ko="text:title()" class="controller-header"></div>

    <div class="controller-body">
        <div class="controller-status">
            <div class="status-left">状态</div>
            <div class="status-right">
                <span
                  class="status-icon"
                  data-ko="css:(deviceData().Action == 1 ? 'running' : 'stop'), text:deviceList().IsStopped ? '已停用' : (deviceData().Action == 1 ? '已启动' : '已停止')">
                </span>
            </div>
        </div>
        <div class="controller-start">
            <div
              data-role="button"
              class="start-left"
              data-ko="css:(deviceList().IsAuto ? 'active' : '')"
              data-command-key="auto"
              data-click="hicon.controller.events.deviceAuto"
              data-role="button"
            >
              自动
            </div>
            <div
              data-role="button"
              class="start-right"
              data-ko="css:(!deviceList().IsAuto ? 'active' : '')"
              data-command-key="manual"
              data-click="hicon.controller.events.deviceAuto"
              data-role="button"
            >
              手动
            </div>
        </div>
        <div
          class="controller-run"
          data-role="button"
          data-ko="text:(deviceData().Action == 1 ? '停止机器' : '启动机器'), attr: {'data-device-no': deviceList().DeviceNO}"
          data-command-key="start"
          data-click="hicon.controller.events.deviceClick"
        >
        </div>
        <div class="controller-timing">
            <div
              class="start-left"
              data-ko="css:(deviceList().IsTimer ? 'active' : '')"
              data-command-key="open"
              data-click="hicon.controller.events.deviceSetTimer"
              data-role="button"
            >
              定时启动
            </div>
            <div
              class="start-right"
              data-ko="css:(!deviceList().IsTimer ? 'active' : '')"
              data-command-key="close"
              data-click="hicon.controller.events.deviceSetTimer"
              data-role="button"
            >
              定时关闭
            </div>
        </div>
        <div
          class="controller-run"
          data-role="button"
          data-command-key="timer"
          data-click="hicon.controller.events.deviceClick"
        >
          定时设置
        </div>
        <div class="controller-btns">
          <div class="btn-left">
            <a
              data-role="button"
              class="tableButton km-bluebtn"
              data-role="device-chart"
              data-command-key="device-chart"
              data-click="hicon.controller.events.deviceClick"
            >
              <span class="ui-btn-text">曲线查看</span>
            </a>
          </div>
          <div class="btn-right">
            <a
              data-role="button"
              class="tableButton km-bluebtn"
              data-role="device-event"
              data-command-key="events"
              data-click="hicon.controller.events.deviceClick"
            >
              <span class="ui-btn-text">操作记录</span>
            </a>
          </div>
        </div>

        <div class="controller-footer">
          <a
            data-role="button"
            class="tableButton km-bluebtn"
            data-role="device-trash"
            data-command-key="stop"
            data-click="hicon.controller.events.deviceClick"
          >
            <span class="ui-btn-text" data-ko="text:deviceList().IsStopped ? '启用机器' : '停用机器'"></span>
          </a>
        </div>
    </div>
  </div>
</div>
<div data-role="modalview" id="modalview-time" style="width: 80%;">
  <div data-role="header">
    <div data-role="navbar">
      <span>选择启动时长</span>
      <!-- <a data-click="hicon.controller.events.modalStartTimeClose" data-role="button" data-align="right">关闭</a> -->
    </div>
  </div>
  <ul data-role="listview" data-style="inset">
    <li>
      <label for="water-stander-up">启动时长:
        <!-- ko if: $data.isFeed() == false -->
        <select id="ddlStartTime" data-ko="options: sysIntervals,
                    optionsText: 'Description',
                    optionsValue: 'Val',
                    optionsCaption: '请选择...'">
        </select>
        <!-- /ko -->
        <!-- ko if: $data.isFeed() == true-->
        <input type="number" id="ddlStartTime" />
        <label style="float: right; margin-top: 3px; color: #333;">分钟</label>
        <!-- /ko -->
      </label>
    </li>
  </ul>
  <div data-role="footer">
    <div data-role="navbar">
      <a data-click="hicon.controller.events.start" class="km-default" type="button" data-role="button" data-align="right">确定</a>
      <a data-click="hicon.controller.events.modalStartTimeClose" class="km-default" type="button" data-role="button" data-align="right">取消</a>
    </div>
  </div>
</div>
