<div id="controllerEdit" data-role="view" data-use-native-scrolling="true" data-init="hicon.controllerEdit.init" data-after-show="hicon.controllerEdit.aftershow" data-show="hicon.controllerEdit.show" data-transition="overlay:left" data-persist="true">
    <header data-role="header">
        <div data-role="navbar">
            <a data-align="left" data-role="button" class="clearButton" data-click="hicon.controllerEdit.events.doBack">返回</a>
            <!-- <a data-align="right" data-role="button" class="clearButton" data-click="hicon.controllerEdit.events.save">保存</a> -->
            <span data-role="view-title" data-ko="text:title()" >遥控器管理</span>
        </div>
    </header>

    <ul data-role="listview" data-click="hicon.controllerEdit.events.itemClick">
        <!-- ko foreach: $data.controllerList -->
            <li data-ko="attr: {'data-id': $data.guid}">
                <div>
                    <span style="display: inline-block; color: #9da2a4; width: 60px;">遥控器:</span>
                    <a data-command-key="barcodeScan" class="tableButton" style="font-size: 1.5em; color:#00acc1;"><span class="km-icon km-camera"></span></a>
                    <input type="text" value="" data-ko="value: $data.DtuNO, valueUpdate: 'keyup', attr: {'data-guid': $data.guid}" placeholder="输入或扫描" style="width: 65%; font-size: 16px;" />
                    <a data-role="detailbutton" data-command-key="delete" ><span class="km-icon km-trash"></span></a>
                </div>
            </li>
        <!-- /ko -->

        <li>
            <div style="clear: both; text-align: center;">                    
                <a data-role="button" class="km-bluebtn" data-command-key="add" data-role="device-add" data-ko="text:btnCaption()" style="width: 50%;">
                    添加
                </a>
                <a data-role="button" class="chooseBtn" data-command-key="save" data-role="device-save" style="width: 40%;">
                    保存
                </a>
            </div>
        </li>
    </ul>
</div>
