<div id="help" data-role="view" data-use-native-scrolling="true" data-init="hicon.help.init" data-after-show="hicon.help.aftershow" data-show="hicon.help.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="left" data-role="button" class="clearButton" data-click="hicon.help.events.doBack">返回</a>
      <span data-role="view-title">使用帮助</span>
    </div>
  </header>
  <ul data-role="listview" data-click="hicon.help.events.itemClick">
    <li style="padding: 5px 10px; background: #efefef;">常见问题</li>
    <li><a data-command-key="help1" style="color:#000 !important;">APP安装说明</a></li>
    <li><a data-command-key="help2" style="color:#000 !important;">海控APP使用说明</a></li>
    <li><a data-command-key="help3" style="color:#000 !important;">海控溶氧监控仪安装</a></li>
    <li><a data-command-key="help4" style="color:#000 !important;">海控溶氧监控仪日常维护</a></li>
    <li><a data-command-key="help5" style="color:#000 !important;">APP安装说明</a></li>
    <li>
        产品服务热线：<span style="color:#0000ff; float: right;">400-877-5077</span>
    </li>
  </ul>
</div>
