<div id="log" data-role="view" data-use-native-scrolling="true" data-init="hicon.log.init" data-after-show="hicon.log.aftershow" data-show="hicon.log.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="left" data-role="button" class="clearButton" data-click="hicon.log.events.doBack">返回</a>
      <span data-role="view-title">事件</span>
    </div>
  </header>

  <div class="search-day">
    <div>
      <a data-role="button" class="km-default" data-click="hicon.log.events.prev">
        <span class="km-text"><<</span>
      </a>
    </div>
    <div>
      <input id="dtEventDay" type="date" value="" data-ko="event: {change: hicon.log.events.doSearch}" />
    </div>
    <div>
      <a data-role="button" class="km-default" data-click="hicon.log.events.next">
        <span class="km-text">>></span>
      </a>
    </div>
  </div>

  <ul data-role="listview"  class="list-wrapper" data-ko="foreach: $data.logList()">
    <li style="padding: 10px;">
      <span data-ko="text: $data"></span>
    </li>
  </ul>
</div>
