<div id="main" data-role="view" data-init="hicon.main.init" data-after-show="hicon.main.aftershow" data-show="hicon.main.show" data-use-native-scrolling="true"  data-transition="overlay:left" data-persist="true">
  <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" data-rel="drawer" href="#my-drawer" data-icon="hamburger" data-align="left"></a>
            <a data-align="left" data-role="button" class="clearButton" data-ko="visible: currentIndexPond() > 0 && tabIndex() > 0" data-click="hicon.main.events.prev" data-pond-nav>上一池</a>
            <a data-align="right" data-role="button" class="clearButton" data-ko="visible: currentIndexPond() < (pondList().length - 1) && tabIndex() > 0" data-click="hicon.main.events.next" data-pond-nav>下一池</a>
            <a data-align="right" data-role="button" class="clearButton" data-ko="visible: (tabIndex() == 0 || currentIndexPond() >= (pondList().length - 1))" data-click="hicon.main.events.addPond" data-pond-add>新增鱼池</a>
            <span data-role="view-title" data-ko="text: (tabIndex() == 0 ? '鱼池列表' : currentPond().Name)"></span>
        </div>

        <div class="banner">
            <strong class="logo"></strong>
            <div class="encryption">
            </div>
        </div>

        <ul id="tabButtonGroup" data-role="buttongroup" data-index="0" data-select="hicon.main.events.selectButton">
            <li>
                鱼池列表
            </li>
            <li>
                水质参数
            </li>
            <li>
                增氧控制
            </li>
            <li>
                水泵控制
            </li>
            <li>
                投饵控制
            </li>
        </ul>
    </header>

    <!-- 鱼池列表 -->
    <div id="pondList" data-role="listview" data-view="view" style="display:none;margin-bottom:20px;">
      <ul data-role="listview" data-click="hicon.main.events.pondItemClick" style="margin-top: 10px;">
          <li class="sm-li hi-li-font">
              <div style="float: left;" class="fishery_img"></div>
              <div class="f-desc">
                  <div>
                      <span class="f-name n-cl" data-ko="text: '场址：' + $data.fishery().Zone"></span>
                  </div>
                  <div>
                      <span class="f-zs">设备总数:0</span>
                  </div>
                  <div>
                      <span class="f-zx">设备在线:0</span>
                  </div>
              </div>
              <div class="actionButtonContainers">
                  <div data-command-key="edit" class="actionButtonContainer">
                      <a data-role="button" class="clearButton" data-icon="compose" data-command-key="modify"></a>
                  </div>
              </div>
          </li>
      </ul>
      <hgroup>
          <h1 class="heading-main" data-ko="text: $data.fishery().Name"></h1>
      </hgroup>
      <ul data-role="listview" data-click="hicon.main.events.pondItemClick" >
          <!-- ko foreach: $data.pondList -->
          <li class="hi-li-font" data-command-key="pondClick">
              <div style="float: left;" class="pool_img"></div>
              <div class="f-desc">
                  <span class="n-cl bl" data-ko="text: $data.Name"></span>

                  <!-- ko if: $data.Dtus.length > 0-->

                      <!-- ko foreach: $data.Dtus -->
                          <!-- ko if: $data.DtuNO.substring(0, 1) == '0'-->
                              <div>
                                  <span data-ko="text: '监测主机: '"></span>
                                  <!-- ko if: $data.IsLogin == true-->
                                  <span class="limegreen">在线</span>
                                  <!-- /ko -->
                                  <!-- ko if: $data.IsLogin == false-->
                                   <span class="red">离线</span>
                                  <!-- /ko -->
                              </div>
                          <!-- /ko -->
                      <!-- /ko -->

                        <!-- ko if: $data.DTU_0_Desc != ''-->
                            <div>
                                <span data-ko="html: $data.DTU_0_Desc"></span>
                            </div>
                        <!-- /ko -->
                        <!-- ko if: $data.DTU_1_Desc != ''-->
                            <div>
                                <span data-ko="html: $data.DTU_1_Desc"></span>
                            </div>
                        <!-- /ko -->
                        <!-- ko if: $data.DTU_2_Desc != ''-->
                            <div>
                                <span data-ko="html: $data.DTU_2_Desc"></span>
                            </div>
                        <!-- /ko -->
                  <!-- /ko -->
                  <div>
                      <span>养殖种类: </span>
                      <span data-ko="text: $data.FishType"> </span>
                  </div>

              </div>
              <div class="actionButtonContainers">
                  <div data-command-key="delete" class="actionButtonContainer">
                      <a data-role="button" class="clearButton" data-icon="trash"></a>
                  </div>
              </div>
          </li>
          <!-- /ko -->
      </ul>
    </div>
    <!-- 水质参数 -->
    <div id="waterPara" data-role="listview" data-view="view" style="display:none;margin-bottom:20px;">
      <ul data-role="listview" id="ul-pond-w-params" data-ko="foreach: $data.waterList()" data-click="hicon.main.events.waterItemClick">
            <li>
                <div class="attri-container">
                    <table class="attr-table"  data-ko="attr: {'data-ai': $data.AiParam}">
                        <tr class="bute-row">
                            <td class="attr-header" colspan="2" style="border:none;"><span data-ko="text: $data.AiParam"></span></td>
                            <td class="attr-header" colspan="1" style="border:none;"></td>
                        </tr>
                        <tr class="param-row">
                            <th rowspan="2" class="th-img">
                                <div data-ko="css: $data.clsName"></div>
                            </th>
                            <td style="width: 50px;">&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr class="param-row">
                            <td>&nbsp;</td>
                            <td>
                                <span>
                                    <a data-role="button" data-icon="search" class="tableButton km-bluebtn" data-command-key="line-chart">曲线查看</a>
                                </span>
                            </td>
                        </tr>

                        <!-- ko if: $data.items.length == 2-->
                        <tr class="param-row">
                            <th class="attr-bute-name" rowspan="2">报警级别:</th>
                            <td class="attr-pos-name">上层</td>
                            <td class="attr-pos-value" data-role="ai-warm" data-ko="attr: {'data-aisn': $data.items[0].AiSN}"></td>
                        </tr>
                        <tr class="param-row">
                            <td class="attr-pos-name">下层</td>
                            <td class="attr-pos-value"  data-role="ai-warm" data-ko="attr: {'data-aisn': $data.items[1].AiSN}"></td>
                        </tr>
                        <tr class="param-row">
                            <th class="attr-bute-name" rowspan="2">最新报值:</th>
                            <td class="attr-pos-value" data-role="ai-value" data-level="0" style="width: 75px;" data-ko="attr: {'data-aisn': $data.items[0].AiSN}"></td>
                            <td class="attr-pos-value" rowspan="2"><span data-ko="text: '参考值: '+$data.RefValue + $data.Unit"></span></td>
                        </tr>
                        <tr class="param-row">
                             <td class="attr-pos-value"  data-role="ai-value" data-level="1" data-ko="attr: {'data-aisn': $data.items[1].AiSN}"></td>
                        </tr>

                        <tr class="param-row">
                            <th class="attr-bute-name" rowspan="2">更新时间:</th>
                            <td class="attr-pos-name">上层</td>
                            <td class="attr-pos-value" data-role="ai-time" data-ko="attr: {'data-aisn': $data.items[0].AiSN}"></td>
                        </tr>
                        <tr class="param-row">
                            <td class="attr-pos-name">下层</td>
                            <td class="attr-pos-value"  data-role="ai-time" data-ko="attr: {'data-aisn': $data.items[1].AiSN}"></td>
                        </tr>

                        <!-- /ko -->

                        <!-- ko if: $data.items.length == 1-->
                        <tr class="param-row">
                            <th class="attr-bute-name" rowspan="2">报警级别:</th>
                            <td class="attr-pos-name">上层</td>
                            <td class="attr-pos-value" data-role="ai-warm" data-ko="attr: {'data-aisn': $data.items[0].AiSN}"></td>
                        </tr>
                        <tr class="param-row">
                            <td class="attr-pos-name">下层</td>
                            <td class="attr-pos-value"  data-role="ai-warm""></td>
                        </tr>
                        <tr class="param-row">
                            <th class="attr-bute-name" rowspan="2">最新报值:</th>
                            <td class="attr-pos-value" data-role="ai-value" data-level="0" style="width: 75px;" data-ko="attr: {'data-aisn': $data.items[0].AiSN}"></td>
                            <td class="attr-pos-value" rowspan="2"><span data-ko="text: '参考值: '+$data.RefValue + $data.Unit"></span></td>
                        </tr>
                        <tr class="param-row">
                             <td class="attr-pos-value"  data-role="ai-value" data-level="1"></td>
                        </tr>

                        <tr class="param-row">
                            <th class="attr-bute-name" rowspan="2">更新时间:</th>
                            <td class="attr-pos-name">上层</td>
                            <td class="attr-pos-value" data-role="ai-time" data-ko="attr: {'data-aisn': $data.items[0].AiSN}"></td>
                        </tr>
                        <tr class="param-row">
                            <td class="attr-pos-name">下层</td>
                            <td class="attr-pos-value"  data-role="ai-time"></td>
                        </tr>
                        <!-- /ko -->

                        <!-- ko if: $data.AiParam == '水温'-->
                        <tr class="param-row">
                            <th class="attr-bute-name">参数设定:</th>
                            <td></td>
                            <td>
                                <a data-role="button" class="tableButton km-bluebtn" data-icon="settings" data-command-key="setting">参数设定</a>
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- ko if: $data.AiParam == '溶解氧'-->
                        <tr class="param-row">
                            <th class="attr-bute-name">参数设定:</th>
                            <td></td>
                            <td>
                                <a data-role="button" class="tableButton km-bluebtn" data-icon="settings" data-command-key="oxygen_setting">参数设定</a>
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- ko if: $data.AiParam == 'PH'-->
                        <tr class="param-row">
                            <th class="attr-bute-name">校准:</th>
                            <td></td>
                            <td>
                                <a data-role="button" class="tableButton km-bluebtn" data-icon="check" data-command-key="setting">校准</a>
                                <a data-role="button" class="tableButton km-bluebtn" data-icon="settings" data-command-key="setting">设定</a>
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- ko if: $data.AiType == 1-->
                        <tr class="param-row">
                            <th class="attr-bute-name">参数设定:</th>
                            <td></td>
                            <td>
                                <a data-role="button" class="tableButton km-bluebtn" data-icon="settings" data-command-key="saturation_setting">参数设定</a>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </table>
                </div>
            </li>
        </ul>
        <div style="width: 99%;">
          <span>
                <a data-role="button" class="km-default km-justified km-widget km-button km-bluebtn" data-icon="add" data-click="hicon.main.events.monitor">
                    监测主机管理
                </a>
            </span>
        </div>
    </div>
    <!-- 增氧控制 -->
    <div id="oxygControl" data-role="listview" data-view="view" style="display:none;margin-bottom:20px;">
        <ul class="four-col-special" >
            <!-- ko foreach: $data.deviceZYList -->
            <li class="enabled" data-ko="tap:hicon.main.events.controlItemClick.bind($(this)), css: { enabled: !$data.IsStopped, disabled: $data.IsStopped }, attr: {'data-device-no': $data.DeviceNO, 'data-dtu-no': $data.DtuNO}">
                <div class="device-box">
                    <span style="color: #000;" data-ko="text: ($data.Name)"></span>
                </div>
                <div class="img-status warn_green_img" style="display:inline-block;"></div>
            </li>
            <!-- /ko -->
        </ul>
        <div>
            <span>
                <a data-role="button" class="km-default km-justified km-widget km-button km-bluebtn" data-role="device-add" data-icon="add" data-command-key="oxyg" data-click="hicon.main.events.controller">
                        添加增氧遥控器
                </a>
            </span>
        </div>
    </div>
    <!-- 水泵控制 -->
    <div id="pumpControl" data-role="listview" data-view="view" style="display:none;margin-bottom:20px;">
        <ul class="four-col-special">
            <!-- ko foreach: $data.deviceSBList -->
                <li class="enabled" data-ko="tap:hicon.main.events.controlItemClick.bind($(this)), css: { enabled: !$data.IsStopped, disabled: $data.IsStopped }, attr: {'data-device-no': $data.DeviceNO, 'data-dtu-no': $data.DtuNO}">
                     <div class="device-box">
                        <span style="color: #000;" data-ko="text: ($data.Name)"></span>
                    </div>
                    <div class="img-status warn_green_img" style="display:inline-block;"></div>
                </li>
            <!-- /ko -->
        </ul>
        <div>
            <span>
                <a data-role="button" class="km-default km-justified km-widget km-button km-bluebtn" data-role="device-add" data-icon="add" data-command-key="pump" data-click="hicon.main.events.controller">
                        添加水泵遥控器
                </a>
            </span>
        </div>
    </div>
    <!-- 投饵控制 -->
    <div id="feedControl" data-role="listview" data-view="view" style="display:none;margin-bottom:20px;">
        <ul class="four-col-special">
            <!-- ko foreach: $data.deviceTEList -->
            <li class="enabled" data-ko="tap:hicon.main.events.controlItemClick.bind($(this)), css: { enabled: !$data.IsStopped, disabled: $data.IsStopped }, attr: {'data-device-no': $data.DeviceNO, 'data-dtu-no': $data.DtuNO}">
                 <div class="device-box">
                    <span style="color: #000;" data-ko="text: ($data.Name)"></span>
                </div>
                <div class="img-status warn_green_img" style="display:inline-block;"></div>
            </li>
            <!-- /ko -->
        </ul>
        <div>
            <span>
                <a data-role="button" class="km-default km-justified km-widget km-button km-bluebtn" data-role="device-add" data-icon="add" data-command-key="feed" data-click="hicon.main.events.controller">
                    添加投饵遥控器
                </a>
            </span>
        </div>
    </div>
</div>

<div data-role="drawer" id="my-drawer" style="width: 20em" data-use-native-scrolling="true" data-before-show="hicon.main.drawer.beforeShow">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">我的</span>
        </div>
    </header>
    <ul data-role="listview" class="km-listview-icons" data-click="hicon.main.drawer.itemClick">
        <li data-icon="bookmarks"><a href="view/basic.html" data-transition="none" >渔场资料</a></li>
        <li data-icon="recents"><a href="view/log.html" data-transition="none">事件</a></li>

        <li data-icon="contacts"><a href="view/subAccount.html" data-transition="none">子用户</a></li>

        <li data-icon="edit"><a href="view/modifyPwd.html" data-transition="none" data-command-key="password">修改密码</a></li>
        <li data-icon="about"><a href="view/about.html" data-transition="none" data-command-key="about">关于</a></li>
        <li data-icon="history"><a data-transition="none" data-command-key="logout">退出</a></li>
    </ul>
</div>

<div data-role="modalview" id="modalview-water" style="width: 80%;">
    <div data-role="header">
        <div data-role="navbar">
            <span data-ko="text: $data.currentWater().AiParam"></span>
            <a data-click="hicon.main.events.modalWaterClose" data-role="button" data-align="right">关闭</a>
        </div>
    </div>

    <ul data-role="listview" data-style="inset">
        <li style="display: none;"><label for="water-stander-up">上限标准值:<input type="number" id="water-stander-up" /></label></li>
        <li style="display: none;"><label for="water-stander-down">下限标准值:<input type="number" id="water-stander-down" /></label></li>
        <li><label for="water-start-up">上限启动临界值:<input type="number" id="water-start-up" style="text-align: right;margin-right: 33px;" /></label></li>
        <li><label for="water-start-down">下限启动临界值:<input type="number" id="water-start-down" style="text-align: right;margin-right: 33px;" /></label></li>
    </ul>
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="hicon.main.events.setDefault" class="km-default" type="button" data-role="button" data-align="right">恢复默认值</a>
            <a data-click="hicon.main.events.saveWater" class="km-default" type="button" data-role="button" data-align="right">保存</a>
        </div>
    </div>
</div>

<div data-role="modalview" id="modalview-saturation" style="width: 80%;">
    <div data-role="header">
        <div data-role="navbar">
            <span data-ko="text: $data.currentWater().AiParam"></span>
            <a data-click="hicon.main.events.modalSaturationClose" data-role="button" data-align="right">关闭</a>
        </div>
    </div>

    <ul data-role="listview" data-style="inset">
        <li>
            <label for="saturation-start-up">上层饱和度:大于<input type="number" id="saturation-start-up" style="text-align: right;margin-right: 60px;" /></label>
            <label style="float: right; margin-top: 3px; color: #333;">%启动</label>
        </li>
        <li>
            <label for="saturation-start-down">下层饱和度:小于<input type="number" id="saturation-start-down" style="text-align: right;margin-right: 60px;" /></label>
            <label style="float: right; margin-top: 3px; color: #333;">%启动</label>
        </li>
        <li style="border: none;">
            <label for="saturation-start-down" style="width: 115px;text-align: right;display: inline-block;">达到<input type="number" id="saturation-top-down" style="text-align: right;margin-right: 60px;" /></label>
            <label style="float: right; margin-top: 3px; color: #333;">%停止</label>
        </li>
        <li>
            <input type="checkbox" data-radio-index="1" id="saturation-check" class="km-checkbox"  data-role="device-auto">
            <label class="km-checkbox-label rember-label" for="saturation-check">根据饱和度控制增氧机</label>
        </li>
    </ul>
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="hicon.main.events.setSaturationDefault" class="km-default" type="button" data-role="button" data-align="right">恢复默认值</a>
            <a data-click="hicon.main.events.saveSaturation" class="km-default" type="button" data-role="button" data-align="right">保存</a>
        </div>
    </div>
</div>

<div data-role="modalview" id="modalview-oxygen" style="width: 80%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>溶解氧</span>
            <a data-click="hicon.main.events.modalOxygenClose" data-role="button" data-align="right">关闭</a>
        </div>
    </div>

    <ul data-role="listview" data-style="inset">
        <li style="display: none;">
            <label for="oxygen-stander-up">上限标准值:<input type="number" id="oxygen-stander-up" /></label></li>
        <li style="display: none;">
            <label for="oxygen-stander-down">下限标准值:<input type="number" id="oxygen-stander-down" /></label></li>
        <li style="display: none;">
            <label for="oxygen-start-up">上限启动临界值:<input type="number" id="oxygen-start-up" /></label>
        </li>

        <li>
            <label for="saturation-start-up">下层溶氧:低于<input type="number" id="oxygen-start-down" style="text-align: right;margin-right: 90px;" /></label>
            <label style="float: right; margin-top: 3px; color: #333;">mg/L 启动</label>
        </li>
        <li>
            <label for="saturation-start-down">下层溶氧:达到<input type="number" id="oxygen-stop-down" style="text-align: right;margin-right: 90px;" /></label>
            <label style="float: right; margin-top: 3px; color: #333;">mg/L 停止</label>
        </li>
        <li>
            <input type="checkbox" data-radio-index="1" id="oxygen-check"  class="km-checkbox"  data-role="device-auto">
            <label class="km-checkbox-label rember-label" for="oxygen-check" >根据下层溶氧值启闭增氧机</label>
        </li>
    </ul>

    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="hicon.main.events.setOxygenDefault" class="km-default" type="button" data-role="button" data-align="right">恢复默认值</a>
            <a data-click="hicon.main.events.saveOxygen" class="km-default" type="button" data-role="button" data-align="right">保存</a>
        </div>
    </div>
</div>
