<div id="retrieve" data-role="view" data-use-native-scrolling="true" data-show="hicon.retrieve.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a id="back-button" class="nav-button" data-align="left" data-role="backbutton">Back</a>
      <span data-role="view-title">取回密码</span>
    </div>
  </header>
  <div class="form-wrapper" id="retrieveToken">
    <div class="input-row shadow">
      <div class="reg-phone">
        <input type="tel" id="retriMobile" name="retriMobile" placeholder="手机号码" />
        <a class="send-code" data-role="button" data-click="hicon.retrieve.events.getToken">获取验证码</a>
      </div>
    </div>
    <div class="input-row shadow">
      <div>
        <input type="text" id="token" id="retriToken" name="retriToken" placeholder="验证码" />
      </div>
    </div>
    <div class="input-row">
      <div>
        <a data-role="button" data-click="hicon.retrieve.events.next" class="btn-hicon">
          <span class="km-text">下一步</span>
        </a>
      </div>
    </div>
  </div>

  <div class="form-wrapper" id="retrieveReset" style="display: none;">
    <div class="input-row shadow">
      <div>
        <input type="password" id="retriPassword" name="retriPassword" placeholder="请输入新密码" />
      </div>
    </div>
    <div class="input-row shadow">
      <div>
        <input type="password" id="retriConfirmPassword" name="retriConfirmPassword" placeholder="确认新密码" />
      </div>
    </div>
    <div class="input-row">
      <div>
        <a data-role="button" data-click="hicon.retrieve.events.reset" class="btn-hicon">
          <span class="km-text">重置密码</span>
        </a>
      </div>
    </div>
  </div>
</div>
