<div id="timerAdd" data-role="view" data-use-native-scrolling="true" data-init="hicon.timerAdd.init" data-show="hicon.timerAdd.show" data-after-show="hicon.timerAdd.aftershow" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="left" data-role="button" class="clearButton" data-click="hicon.timerAdd.events.doBack">返回</a>
      <span data-role="view-title">新增定时设置</span>
    </div>
  </header>

  <div class="form-wrapper">
    <div class="input-row">
      <div>
        <input type="text" id="timerOpt" name="timerOpt" value="启动" readonly="true" />
      </div>
    </div>
    <div class="input-row">
      <div>
        <select id="ddlTimerPeriod" data-ko="event: { change: hicon.timerAdd.events.change }">
          <option value="0">仅一次</option>
          <option value="1">每天</option>
        </select>
      </div>
    </div>
    <div class="input-row" id="liTimerDay" style="display:none;">
      <div>
        <input id="dtTimerDay" type="text" value="" placeholder="开始时间" />
      </div>
    </div>
    <div class="input-row" id="liTimerTime" style="display:none;">
      <div>
        <input id="dtTimerTime" type="text" value="" placeholder="开始时间" />
      </div>
    </div>
    <div class="input-row">
      <div>
        <!-- ko if: $data.isFeed() == false -->
        <select id="ddlTimerSpan" data-ko="options: sysIntervals,
            optionsText: 'Description',
            optionsValue: 'Val'">
        </select>
        <!-- /ko -->
        <!-- ko if: $data.isFeed() == true-->
        <div class="reg-phone">
          <input type="number" style="margin-right: 5px;" id="ddlTimerSpan" />
          <label style="color: #333;">分钟</label>
        </div>
        <!-- /ko -->
      </div>
    </div>
    <div class="input-row">
      <div>
        <a data-role="button" data-click="hicon.timerAdd.events.save" class="btn-hicon">
          <span class="km-text">保存</span>
        </a>
      </div>
    </div>
  </div>
</div>
