<div id="video" data-role="view" data-use-native-scrolling="true" data-init="hicon.video.init" data-after-show="hicon.video.aftershow" data-show="hicon.video.show" data-transition="overlay:left" data-persist="true">
  <header data-role="header">
    <div data-role="navbar">
      <a data-align="left" data-role="button" class="clearButton" data-click="hicon.video.events.doBack">返回</a>
      <span data-role="view-title">使用帮助</span>
    </div>
  </header>
  <video autoplay="autoplay" src="">

  </video>
</div>
